<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->

            <div class="row">

                <!-- ./col -->
                <div class="col-lg-3 col-6 col-12">
                    <!-- small box -->
                    <div class="">
                        <div class="inner">
                            <div class=" pic_contsm ">
                                <a href="# ">
                                    <img src="assets/dist/img/cam1.png " class="img-fluid " alt=" " />
                                </a>
                            </div>
                            <div class="pic_contsm ">
                                <a href="# ">
                                    <img src="assets/dist/img/cam2.png " class="img-fluid " alt=" " />
                                </a>
                            </div>
                            <div class="pic_contsm ">
                                <a href="# ">
                                    <img src="assets/dist/img/cam3.png " class="img-fluid " alt=" " />
                                </a>
                            </div>
                            <div class="pic_contsm ">
                                <a href="# ">
                                    <img src="assets/dist/img/cam4.png " class="img-fluid " alt=" " />
                                </a>
                            </div>
                            <div class="pic_contsm">
                                <a href="# ">
                                    <img src="assets/dist/img/cam5.png " class="img-fluid " alt=" " />
                                </a>
                            </div>
                            <div class="pic_contsm">
                                <a href="# ">
                                    <img src="assets/dist/img/cam6.png " class="img-fluid " alt=" " />
                                </a>
                            </div>


                        </div>

                    </div>
                </div>

                <!-- ./col -->
                <div class="col-lg-4 col-6 col-12 ">
                    <!-- small box -->
                    <div class=" ">
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/time.png " alt=" " class="img-fluid " />
                            </a>
                        </div>
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/cam1big.jpg " alt=" " class="img-fluid " />
                            </a>
                        </div>
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/cam3big.jpg " alt=" " class="img-fluid " />
                            </a>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6 col-12 ">
                    <!-- small box -->
                    <div class=" ">
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/wther.png " alt=" " class="img-fluid " />
                            </a>
                        </div>
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/cam2big.jpg " alt=" " class="img-fluid " />
                            </a>
                        </div>
                        <div class="inner ">
                            <a href="# ">
                                <img src="assets/dist/img/cam4big.jpg " alt=" " class="img-fluid " />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>